{
  "subscriptionId": "REPLACE_ME",
  "rgName": "REPLACE_ME",
  "rgLocation": "REPLACE_ME",
  "clusterName": "REPLACE_ME",
  "acrName": "REPLACE_ME",
  "keyVaultName": "REPLACE_ME",
  "namespace": "longevity",
  "dnsLabel": "REPLACE_ME",
  "ingressHostname": "REPLACE_ME",
  "certEmail": "REPLACE_ME"
}
